@{
    ViewData["Title"] = "Apple Finder";
}
<div class="p-5 ms-0" style="background-color:lightseagreen; border-radius:20px">
    <h2>Apple Finder <i class="fa fa-apple" style="font-size:48px;color:red"></i></h2>
    <h2>About page</h2>
</div>
<div class="ms-4">
    <p>Apple finder is an app that works with you to find you the perfect apple you are craving! You can enter your preferences based on 
        flavor, color, and crispness!</p>
    <p>You can find the nearest location of the apple in your area.</p>
    <p>You can find when the apple season begins and ends.</p>
    <p>We are always looking to bring more farms and apple types to the website. Please contact the team at <a href="mailto:farms@AppleFinder.com">Apple Team</a></p> 
</div>