@{
    ViewData["Title"] = "Apple Finder";
}
<div class="p-5 ms-0" style="background-color:lightseagreen;border-radius:20px">
    <h2>Apple Finder <i class="fa fa-apple" style="font-size:48px;color:red"></i></h2>
    <h3>The best apple find around</h3>
</div>
<div class="ms-3">
    <address>
        9021 EverCrisp Dr<br/>
        Lake Leelanau, MI 49653<br />
        <i class="fa fa-phone" style="font-size:15px"></i> 800.ORCHARD
    </address>
    <address>
        <strong>Tech Support:</strong> <a href="mailto:Suppor@AppleFinder.com">Support@AppleFinder.com</a><br/>
        <strong>Orchards/Farm Stands:</strong> <a href="mailto:Orchards@AppleFinder.com">Orchards@AppleFinder.com</a>
    </address>
</div>
