@{
    ViewData["Title"] = "Apple Types";
}

<div class="p-5 ms-0" style="background-color:lightseagreen;border-radius:40px">
    <h1>@ViewData["Title"] <i class="fa fa-apple" style="font-size:48px;color:red"></i></h1>
</div>

<div>
    <p style="background-color:white;font-size:20px;padding:25px; border-radius:35px;"><strong>These are the types of Apples that are located in Northern Michigan:</strong></p>

<div class="grid-container">
    <div><strong>Braeburn:</strong><br />These rich, spicy-flavored apples are very firm with a crisp bite. Ideal for pies and baking, they also have a good fresh-eating quality!
        <img src="~/Images/brauburn.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Cortland:</strong><br />A hint of tartness makes this a great baking variety, used frequently in desserts. A descendent of the McIntosh, this variety is a bit sweeter than its ancestor. Known for its white flesh and excellent flavor.
        <img src="~/Images/Cortland.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Empire:</strong><br />An excellent lunchbox apple or crunch snack! Sweet and tart at the same time. Use for fresh-cut slices, candy and caramel apples. Also used in baking. Texture remains very firm, a good storing apple. Popular in Great Britain.
        <img src="~/Images/Empire.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>EverCrisp:</strong><br />A newer apple variety, EverCrisp® is sweet, juicy and firm. It stores well and is long-lasting. Packs a powerful crunch.
        <img src="~/Images/EverCrips.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Fugi:</strong><br />New to Michigan’s apple line-up, Fuji is Japan’s favorite apple for good reason! Fantastic sweet and tart flavor, with a low acid content. An incredibly good keeper, Fuji stays crisp for weeks!
        <img src="~/Images/Fugi.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Gala:</strong><br /> Talk about a great apple: Crisp snappy bite over a mellow sweetness. Michigan’s 3rd most popular apple for fresh eating or cooking. Looks great, smells sweet, eats like a dream!
        <img src="~/Images/gala.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Ginger Gold:</strong><br /> Ginger Gold is a cross between Golden Delicious and Newtown Pippin, discovered in 1969 in Virginia. It is harvested early in the season and has a smooth green-yellow skin with a red blush.
        <img src="~/Images/Ginger-Gold.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Golden Delisious:</strong><br /> A gingery-smooth, sweet taste treat lies under a thin skin. The most popular yellow apple, Goldens may be eaten fresh or cut up in salads. Professional’s choice for applesauce or cider, baking pies and other desserts.
        <img src="~/Images/golden-delicious.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
        </div>
    <div><strong>Honeycrip</strong><br /> This apple is hot! And mighty crisp. Combines unusual color and excellent sweet flavor with a great bite. Use it for fresh eating, fresh-cut slices or cut up in salads.
        <img src="~/Images/honeycrisp.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Ida Red:</strong><br /> Suits your every use! Eat fresh or for cooking. Taste is both tangy and tart. Flesh is white, crisp and juicy. Favored for sauces, pies and desserts. Texture holds up well when baked.
        <img src="~/Images/ida-red.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Jonagold:</strong><br /> Make sure you try this one! Superbly crisp and juicy with shades of tart and sweet in each apple. Usually large and aromatic. Highly ranked by apple connoisseurs. Popular in Europe, but better from Michigan’s cooler climate.
        <img src="~/Images/jonagold.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Johnathan:</strong><br />Both pretty and popular! Used for fresh eating and cooking. Juicy flavor has a spicy tang that blends well with other apples. Michigan’s cooler climate produces superb Jonathans. Discovered in Woodstock, New York!
    <img src="~/Images/jonathan.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>McIntosh:</strong><br />Classic large, round apple for eating out of hand! Ultra-juicy white flesh, lightly tart flavor and excellent fresh apple aroma. A perky addition to salads. Excellent in applesauce and cider. Also used in pies.
        <img src="~/Images/mac.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Northern Spy:</strong><br />Intriguing name, yet this apple is a professional baker’s dream! An antique apple still popular because of tart, acidic properties that cook up well in applesauce, pie and other dishes. A hard apple that ripens late and stores well.
        <img src="~/Images/northern-spy.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Paula Red:</strong><br />Don’t miss this late summer apple! Available only into October. Pleasingly tart flavor and good aroma. Great in back-to-school lunches, or early season baking. Discovered in Sparta, Michigan!
        <img src="~/Images/paula-red.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>  
    <div><strong>Red Delisious:</strong><br />America’s most popular apple, known for the “five little bumps” on the bottom. Best for fresh eating and snacks. Full-flavored sweet taste, yellowish flesh and crisp texture. Discovered over 100 years ago in Iowa.
        <img src="~/Images/red-delicious.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div>
        <strong>Sweet Tango:</strong><br />Selectively bred to snap like a sweet piece of celery, this apple, available only in September and October (if we’re lucky) in certain super markets is the best apple ever to grace the world of Gods and men. A gifted child of the spectacular Honeycrisp and elusive Zestar!
        <img src="~/Images/sweet-tango.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
    <div><strong>Zester:</strong><br />A Zestar Apple is an apple that is offered early in the season and has a great flavor that many says has a hint of brown sugar. Many other apple varieties that are offered early in the season tend to be less juicy and plump, but Zestar Apples offer you a crisp and juicy flavor, even in late August.
        <img src="~/Images/zester.png" alt="apple" asp-append-version="true" class="float-xxl-start img-fluid col-lg-10" />
    </div>
</div>
</div>