@{
    ViewData["Title"] = "Apple Finder";
}

<div class="p-5 mb-4" style="background-color:lightseagreen;border-radius:20px;">
    <h1>Apple Finder <i class="fa fa-apple" style="font-size:48px;color:red"></i></h1>
    <p class="lead">
        The apple Finder app helps you find the perfect apple based on taste, color, and crispness.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Start by adding your location...<br />
        </p>
        </div>
        <div class="col-md-4">
            <h2>Orchards</h2>
            <p>Log your favorite apple orchards</p>
        </div>
        <div class="col-md-4">
            <h2>Apple Preference</h2>
            <p>When you find the right apple and want to log the taste.</p>
        </div>
    </div>
<div class="row">
    <img src="~/Images/map.jpg" alt="map" asp-append-version="true" class="float-md-start img-fluid col-sm-4" />
    <img src="~/Images/orchard3.jpg" asp-append-version="true" class="float-md-start img-fluid col-sm-4" />
    <img src="~/Images/apple-blur-bright-588587.jpg" alt="red apple" asp-append-version="true" class="float-md-start img-fluid col-sm-4" />
</div>