@{
    ViewData["Title"] = "Orchard location in Northern Michigan";
}
<div class="p-5 ms-0" style="background-color:lightseagreen;border-radius:40px">
    <h1>@ViewData["Title"] <i class="fa fa-apple" style="font-size:48px;color:red"></i></h1>
</div>

<p style="background-color:white;font-size:20px;padding:25px; border-radius:35px;">Use this page to Show the location of the apple you are looking for.</p>
<div class="flex-lg-column">
    <img src="~/Images/apple-map.png" alt="map" class="align-content-center" style="width:800px;height:600px;"/>
</div>