@{
    ViewData["Title"] = "Orchards";
}
<div class="p-5 ms-0" style="background-color:lightseagreen;border-radius:40px">
    <h1>@ViewData["Title"] <i class="fa fa-apple" style="font-size:48px;color:red"></i></h1>
</div>
<p>Use this page to find an orchard near you</p>