@{
    ViewData["Title"] = "Orchards";
}
<div class="p-5 ms-0" style="background-color:lightseagreen;border-radius:40px">
    <h1>@ViewData["Title"] <i class="fa fa-apple" style="font-size:48px;color:red"></i></h1>
</div>

<div>
    <p style="background-color:white;font-size:20px;padding:25px; border-radius:35px;"><strong>Here is a list of all of Farm Stands and Orchards</strong></p>
    <div class="row" style="background-color:lightseagreen">

        <p style="background-color:white;font-size:20px;padding:25px; border-radius:5px;"><strong>Farm Stands</strong></p>
        <table>
            <tr>
                <th>Company</th>
                <th>Location</th>
                <th>Varieies</th>
            </tr>
            <tr>
                <td>Farmer Whites Farm Stand</td>
                <td>Williamsburg, MI</td>
                <td>Gala, Honey Crisp, Fugi, McIntosh</td>
            <tr>
                <td>Friske's</td>
                <td>Charlevoix, MI</td>
                <td>Cortland, Empire, EverCrisp, Fugi, Gala, Ginger Gold, Golden Delicious, Honeycrisp, Ida Red, JonaGold, Jonathan, McIntosh, Paula Red, Pink Lady, Zester
            </tr>
            <tr>
                <td>Gallegher's</td>
                <td>Traverse City, MI</td>
                <td>Corland, Empire, Fugi, Gala, Honey Crisp, Ida Red, McIntosh</td>
            </tr>
            <tr>
                <td>Groueuau Farm Market</td>
                <td>Traverse City, MI</td>
                <td>Gala, Honey Crisp, Fugi, McIntosh, Honeycrisp, Paula Red</td>
            </tr>
            <tr>   
                <td>Johnson Farm's Fruit Stand</td>
                <td>Traverse City. MI</td>
                <td>Gala, Golden Delicious, Honeycrisp</td>
            </tr>
            <tr>
                <td>King Orchards</td>
                <td>Central Lake, MI</td>
                <td>Empire, Fugi, Gala, Ginger Gold, Honey Crisp, MacIntosh</td>
            </tr>
            <tr>
                <td>Youker Farm Market</td>
                <td>Grawn</td>
                <td>McIntosh, Paula Reds, Zesters</td>
            </tr>
        </table>
    </div>
    <div class="row" style="background-color: lightseagreen">
        <p style="background-color:white;font-size:20px;padding:25px; border-radius:5px;"><strong>Orchards</strong></p>
    <table>
            <tr>
                <th>Company</th>
                <th>Location</th>
                <th>Varieies</th>
            </tr>
            <tr>
                <td>Altonen Orchards</td>
                <td>Williamsburg, MI</td>
                <td>Cortland, Fugi, Gala, Ginger Gold, Golden Delicious, Honeycrisp, MacIntosh, Paula Red, Pink Lady </td>
            </tr>
            <tr>
                <td>Bakker's Acres</td>
                <td>Sutton Bay, MI</td>
                <td>EverCrisp, Honeycrisp, Gala, Fugi, MacIntosh</td>
            </tr>
            <tr>
                <td>Bardenhagen Farms</td>
                <td>Suttons Bay, MI</td>
                <td>Crimson Crisp, Gala, Ginger Gold, Honeycrisp</td>
            </tr>
            <tr>
                <td>InterWater Farms</td>
                <td>Williamsburg, MI</td>
                <td>Sweet Tango</td>
            </tr>
            <tr>
                <td>King Orchards</td>
                <td>Central Lake</td>
                <td>Cortland, Empire, Gala, Ginger Gold, Heritage, Honeycrisp, Ida Red, Jonagold, McIntosh, Mutsu, Northern Spy </td>
            </tr>
            <tr>
                <td>Rennie Farms</td>
                <td>Williamsburg, MI</td>
                <td>Fugi, Gala, Golden Delicious, Granny Smith, Honeycrisp</td>
            </tr>
            <tr>
                <td>Sleeping Bear Orchards</td>
                <td>Beulah, MI</td>
                <td>Over 300 varities</td>
            </tr>
            <tr>
                <td>VerSnyder Orchards</td>
                <td>Lake Leelanau, MI</td>
                <td>Crimson Crisp, EverCrisp, Heirloom, Honeycrisp, LudaCrisp</td>
            </tr>
            <tr>
                <td>Williams Orchard</td>
                <td>Cedar, MI</td>
                <td>Cortland, Gala, Honeycrisp, Jonathan, McIntosh, Paula Red</td>
            </tr>
    </table>
    </div>
</div>