@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="p-5 ms-0" style="background-color:lightseagreen;border-radius:40px">
<h1>@ViewData["Title"] <i class="fa fa-apple" style="font-size:48px;color:red"></i></h1>
</div>

<div style="background-color:white;font-size:20px;padding:25px; border-radius:35px;">
<p><strong>Privacy policy</strong></p>
<p>Please don't copy any information or use it for unintended purposes.</p>
</div>