body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:palegreen;
    color:black;
}
a {
    color:black;
    text-decoration:none;
    padding: 8px;
}
a:hover{
    font-size:12px;
    border-radius:5px;
    text-decoration:none;
    color:lightseagreen;
}
.nav-link:hover{
    color:white;
    background-color:lightseagreen;
    text-decoration:none;
}
.nav-link{
    color:lightseagreen
}